*{
    margin:0;
    padding: 0;
}
nav{
    width:100vw;
    position: sticky;
    top: 0;

    display:flex;
    align-items: center; 
    background:orange;
}
.logo{
    flex-basis:20%;
    background-color:inherit
}
.navlinks{
    flex:1;
    text-align:right;
}
nav ul{
    float:right;
}
nav li{
    list-style: none;
    display: inline;
    margin:20px;
}
nav li a{
    text-decoration:none;
    color:white;
    font-size: 17px;
}
main{
    margin-left:20%;
    font-size: 20px;
}
h1{
    text-align: left;
    color:rgb(255, 94, 0);
    font-size:45px;
    text-transform: uppercase;
}
h2{
    margin-left:5%;
    color:orangered;
    font-size:30px;
    text-transform: uppercase;
}

p{
    margin-left:10%
}
body{
    background-color: rgb(238, 236, 231);
    background: linear-gradient(t0)
}
main ul{
    margin-left:10%
}
main img{
    margin-left:25%;
    width:300px;
}
main a{
    text-align: center;
}
footer{
    padding:100px;
    text-align:center;
}